


/* Navigation Start */

.headernavtext li {
    float: left;
    padding-right: 50px;
    background-color: white ;
    padding-top: 8px;
    padding-bottom: none;
}

.headernavtext ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
}
  
.headernavtext li a {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 4px;
    color:black;
}
  
.headernavtext li a:hover:not(.active) {
    background-color:none;
    color: #CFB951;
    border-bottom: 3px solid black;

}
  
.headernavtext a.active {
    border-bottom: 3px solid #CFB951;
}

  .logohead {
    margin-top: 10px;
      max-height: 60px;
      padding-top: 10px;
      padding-bottom: 12px;
      width: auto;
      display: inline-block;
}

.headernavtext hr {
    background-color: black;
    margin-top: 10px;
    height: 1px;
    border-width: 0px; 
    width: 1920px;
    margin-left: 0px;
    margin-right: 0px;

}
  

header{ 
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

header h4 {
  position: absolute;
  left: 10%;
  bottom: 1rem;
}



  /* Hero */

  .responsive {
    width: 100%;
    height: auto;
}


 /* Rows and Columns */

 * {
    box-sizing: border-box;
  }
  

  .row {
    display: flex; 
    border-top: none;
  }


  
  /* Create two equal columns that sits next to each other */
  
  .column {
    flex: 50%;
    padding-bottom: 60px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    height: 500px; 
    background-color:  #CFB951;
  }



  .column3 {
    flex: 50%;
    padding-bottom: 60px;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 60px;
    height: 500px; 
    background-color:  #CFB951;
  }

  .column hr {
    background-color: black;
}

   /* Body Text */

   h1 {
       line-height: 20px;
       background-color: none;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: normal;
       font-size: 10px;
       letter-spacing: 4px;
       color:black;
   }

   h2 {
    color: #334E48 ;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    line-height: 50px;
    text-align: center;
    padding-top: 100px;
}


h3 {
  color: #334E48 ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  line-height: 50px;
  text-align: center;
  padding-top: 275px;
}

   p1 {
    color:white;
    font-family: 'times new roman';
    font-size: 14px;
    padding-top: 20px;
    }


    p2 {
      color: #334E48;
      font-family: 'times new roman';
      font-size: 13px;
      padding-top: 20px;
      }

    body {
        background-color: #334E48;
        font-family: 'times new roman';
        font-size: large;
        line-height: 25px;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
    }


   /* Bouncing Arrow */



   .downArrowbounce hr {
    background-color: black;
    margin-top: 10px;
    height: 1px;
    border-width: 0px; 
    width: 1920px;
    margin-left: 0px;
    margin-right: 0px;
   }


    body {
        background: white;
      }
      .downArrow{
          top: 20%;
          bottom:20%;
          left: 50%;
          right: 50%;
          text-align: center;
        }
      .bounce {
          -moz-animation: bounce 3s infinite;
          -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
      }
      @-moz-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -moz-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }
      @-webkit-keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }
      @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
        40% {
          -moz-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
          -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
        }
        60% {
          -moz-transform: translateY(-15px);
          -ms-transform: translateY(-15px);
          -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
        }
      }

   /* Case Study 1 */


 #casestudygridleftjustify {
    display: grid;
    grid-template-rows: 35% 65%;
    grid-template-columns: 35% 65%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 600px;
    grid-template-areas:
    "casestudy1"
    "casestudy1img"
    "casestudy1img"
    "casestudy3img"
    ;
  }

  #casestudy1 {
    grid-area: "casestudy1";
    background-color:#DEDFCF;
  }

  #casestudy1img {
    grid-area: "casestudy1img";
    background-image: url("../Images/Hello-Nat-Design-Studio-and-Creative-Consultancy-Plantiful_9.png");
  }

  #casestudy2img {
    grid-area: "casestudy1img";
    background-image: url("../Images/02_Jewelery-Package-Mock-up_Big-Medium-Flat-Box_top-view-2.jpg");
  }

  #casestudy3img {
  grid-area: "casestudy1img";
  background-image: url("../images/TNeedham_RedDotSubmission_4.png");
}
  

  .link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
    font-size: small;
    text-transform: italic;
    letter-spacing: 2px;
    color: #334E48;
}

  .heading {
    color: #334E48;
    padding-bottom: 20px;
  }

  
  .categoryGridArea1 {
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }

  .categoryGridArea2 {
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    cursor: pointer;
    display: grid;
    align-content: end;
  }

#grid-item {
    color: white;
    width: 5px;

}

hr  {
    background-color: white;
    height: 1px;
    border-width: 0px; 
    width: auto;
    margin-left: 0px;
    margin-right: 10px;

}


   /* Case Study 2 */


   #casestudygridrightjustify {
    display: grid;
    grid-template-rows: 65% 35%;
    grid-template-columns: 65% 35%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    height: 600px;
    grid-template-areas:
    "casestudy1"
    "casestudy1img"
    "casestudy1img"
    ;
  }

  body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }


 /* Footer */

 * {
  box-sizing: border-box;
}


.footerrow {
  display: flex; 
  border-top: none;
  padding-bottom: 10px;
}


/* Create two equal columns that sits next to each other */

.footercolumn1 {
  flex: 50%;
  padding-bottom: 60px;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 10px;
  height: 300px; 
  background-color: #CFB951;
}

.footercolumn2 {
  flex: 50%;
  padding-bottom: 60px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px; 
  background-color:  #CFB951;
}


.footercolumn3 {
  flex: 50%;
  padding-bottom: 60px;
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px; 
  background-color:  #CFB951;
}

.footercolumn4 {
  flex: 50%;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px; 
  background-color:  #CFB951;
}


.footerrow hr {
  background-color: black;
  width: 125px;
}

/* Splash */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #DE8B65;
  z-index: 200;
  color: black;
  text-align: center;
  line-height: 90vh;
}


.splash.display-none {
  position: fixed;
  opacity:0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: white;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to{
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}